installation.cfg
deploy-keystore.*
ks
*.log
.prep
cs

./__*

state
test-state
data/scrap

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.*
!.gitignore
!.ghci
*~
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
cabal.sandbox.config
*.tix
debug.txt
log.txt
client-debug.txt
client-log.txt
test-atlas
benchmarks/csv
benchmarks/chart.png
test-state
